@model IEnumerable<GameWorld1.Models.CatalogGame>

@{
    ViewData["Title"] = "CatalogGame";
}

<h1>CatalogGame</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatalogID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatalogID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatalogGameID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CatalogGameID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CatalogGameID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
